@font-face {
  font-family: "ostrich";
  src: url("fonts/ostrich-sans/ostrich-regular.ttf"), url("fonts/ostrich-sans/OstrichSans-Black.otf"), url("ostrich-sans/OstrichSans-Bold.otf"), url("ostrich-sans/OstrichSansDashed-Medium.otf"), url("ostrich-sans/OstrichSans-Heavy.otf"), url("ostrich-sans/OstrichSans-Light.otf"), url("ostrich-sans/OstrichSans-Medium.otf"), url("ostrich-sans/OstrichSansRounded-Medium.otf");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  background-color: black;
}

header {
  font-family: "ostrich", Arial;
  height: 25vh;
  width: 98%;
  background-size: cover;
}

.navbar {
  position: absolute;
  padding: 20px 20px 20px 20px;
  width: 98%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #525050;
  margin-bottom: 150px;
}

.navbar a {
  color: #9c9a9a;
}

.navbar .leftBanner {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  color: #ff6a00;
  height: 100px;
}

.navbar .leftBanner p {
  font-size: 4em;
}

.navbar .leftBanner .logo {
  padding: 2px 10px 10px 20px;
}

.navbar .rightBanner {
  text-align: center;
  padding: 20px;
  margin-right: 30px;
  cursor: pointer;
  color: #9c9a9a;
}

.navbar .rightBanner ul {
  padding: 15px 40px 40px 20px;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
}

.navbar .rightBanner ul li {
  margin: 0 50px;
}

.navbar .rightBanner a:hover {
  color: #ff6a00;
}

.navbar .hamburger {
  display: none;
}

.promo {
  font-family: "ostrich", Arial;
  width: 98%;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: #231f1f;
  margin-top: 120px;
  margin-bottom: 10px;
}

.promo p {
  margin: 0px auto;
  color: white;
}

.promo .img_promo {
  margin: 20px;
}

.promo .description b {
  margin-left: 40px;
  font-size: 3em;
  color: white;
}

.promo .description ul {
  margin-left: 40px;
  color: white;
  font-size: 1.5em;
}

.promo .divers ul {
  margin-left: 40px;
  color: white;
  font-size: 1.5em;
}

.promo .sujet {
  margin-left: 40px;
  width: 400px;
  color: white;
  font-size: 1em;
}

#img_jacket {
  width: 200px;
  height: 250px;
}

h2 {
  height: 30px;
}

.carousel {
  font-family: Arial;
  height: 60%;
  width: 98%;
  margin-left: 8%;
}

.carouselbox0, .carouselbox1, .carouselbox2, .carouselbox3 {
  height: 250px;
  width: 90%;
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.rowId0, .rowId1, .rowId2, .rowId3 {
  height: 40px;
  width: 49%;
  text-align: center;
  color: orangered;
}

#imgL0, #imgL1, #imgL2, #imgL3, #imgR0, #imgR1, #imgR2, #imgR3 {
  padding-top: 90px;
  width: 40px;
  height: 40px;
}

.carouselimg0 .carouselimg1 .carouselimg2 .carouselimg3 {
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
  width: 60%;
  overflow: scroll;
  white-space: nowrap;
  display: inline-block;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.carouselimg0 img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselimg1 img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselimg2 img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselimg3 img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselimg0 img:hover {
  transform: scale(1.2);
  z-index: 5;
}

.carouselimg1 img:hover {
  transform: scale(1.2);
  z-index: 5;
}

.carouselimg2 img:hover {
  transform: scale(1.2);
  z-index: 5;
}

.carouselimg3 img:hover {
  transform: scale(1.2);
  z-index: 5;
}

.carouselbox0 #imgL0:active {
  padding-bottom: 80px;
  height: 40px;
  background-color: orangered;
}

.carouselbox1 #imgL1:active {
  background-color: orangered;
}

.carouselbox2 #imgL2:active {
  background-color: orangered;
}

.carouselbox3 #imgL3:active {
  background-color: orangered;
}

.carouselbox0 #imgR0:active {
  background-color: forestgreen;
}

.carouselbox1 #imgR1:active {
  background-color: forestgreen;
}

.carouselbox2 imgR2:active {
  background-color: forestgreen;
}

.carouselbox3 imgR3:active {
  background-color: forestgreen;
}

.modal-container {
  font-family: Arial;
  top: 50%;
  position: sticky;
  opacity: 0;
  background-color: lightgray;
  display: none;
  margin-bottom: 0.25rem;
  padding: 10px;
  width: 94%;
  height: 500px;
  transition: opacity 0.3s ease;
  z-index: 999;
  pointer-events: auto;
  opacity: 1;
}

.modal-container__header {
  width: 99%;
  display: flex;
  height: 80px;
}

.modal-container__inner {
  width: 96%;
  font-size: 3em;
  color: blue;
  height: 80px;
  text-align: center;
}

.Button {
  height: 40px;
  width: 80px;
  background-color: #fff;
  z-index: 1000;
  border-radius: 5px;
}

#Close {
  width: 80px;
  height: 40px;
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  z-index: 1000;
}

modal-container__movieDatas {
  display: flex;
  height: 400px;
  width: 700px;
}

.modal-container__imgContainer {
  margin-top: 20px;
  justify-content: left;
  float: left;
  width: 300px;
  height: 400px;
}

.modal-container__generique1 {
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  float: left;
  display: inline-block;
  height: 400px;
  width: 700px;
}

.modal-container__generique {
  color: red;
  width: 100px;
}

ul {
  margin: 10px;
  color: blue;
}

/*# sourceMappingURL=style.css.map */
