@font-face {
    font-family: "ostrich";
    src: url('fonts/ostrich-sans/ostrich-regular.ttf'),
         url('fonts/ostrich-sans/OstrichSans-Black.otf'),
         url('ostrich-sans/OstrichSans-Bold.otf'),
         url('ostrich-sans/OstrichSansDashed-Medium.otf'),
         url('ostrich-sans/OstrichSans-Heavy.otf'),
         url('ostrich-sans/OstrichSans-Light.otf'),
         url('ostrich-sans/OstrichSans-Medium.otf'),
         url('ostrich-sans/OstrichSansRounded-Medium.otf');
}

* {
    margin: 0;
    padding: 0;    
    text-decoration: none;
    list-style: none;
}
/* NETFLIX */
body {
    height: 80%;
    width: 97%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: black;                
}

/* ========================================= NavBar ===================================================*/

.navbar {
    font-family: "ostrich", Arial;    
    padding: 20px 20px 20px 20px;
    width: 98%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #525050;
    margin-bottom: 10px;
}

.navbar a {
    color: #9c9a9a;
}

.navbar .leftBanner {
    padding: 10px 10px 10px 10px;    
    display: flex;
    flex-wrap: wrap;
    color: #ff6a00;
    height: 100px;
}

.navbar .leftBanner p {
    font-size: 4em;
}

.navbar .leftBanner .logo {
    padding: 2px 10px 10px 20px;
}

.navbar .rightBanner {
    text-align: center;
    padding: 20px;
    margin-right: 30px;
    cursor: pointer;
    color: #9c9a9a;
}

.navbar .rightBanner ul {
    padding: 15px 40px 40px 20px;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

.navbar .rightBanner ul li {
    margin: 0 50px;
}

.navbar .rightBanner a:hover {
    color: #ff6a00;
}

.navbar .hamburger {
    display: none;        
}
/* ========================================= Banner =======================================*/

.promo {
    font-family: "ostrich", Arial;
    width: 98%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #231f1f;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.promo #manchette {
    margin: 20px;
}

.promo .movieTitle p {
    margin-left: 20px;
    font-size: 5em;
    color: white;
}

.promo .sujet {
    margin-left: 20px;
    width: 200px;
    color: white;
    font-size: 1em;
}

.img_promo {
    margin-left: 20%;
    width: 200px;
}
.img_promo #img_jacket {
    
    width: 200px;
    //height: 250px;
    height: auto;
}

.BannerButton  {
    display: flex;
}
.BannerButton p {
    line-height: 60px;
    margin-left: 20px;
    color: white;
    font-size: 2em;    
}
.BannerButton aside {
    float: right;
    margin-left: 40px;
}

/* ================================= Caroussel ========================================*/
.carousel {
    font-family: Arial;
    height: 60%;
    width: 98%;
    margin-left: 22%;
}

.carouselbox0, .carouselbox1, .carouselbox2, .carouselbox3 {
    height: 250px;
    width: 90%;
    margin-left: 30px;
    margin-right: 40px;    
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
/* Affichage categories */
.rowId0, .rowId1, .rowId2, .rowId3 {
    height: 40px;
    width: 49%;
    text-align: center;
    color: orangered;
}

/* Arrows */ 
#imgL0, #imgL1, #imgL2, #imgL3, #imgR0, #imgR1, #imgR2, #imgR3 {
    padding-top: 90px;
    width: 40px;
    height: 40px;
}

.carouselimg0, .carouselimg1, .carouselimg2, .carouselimg3 {
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    width: 45%;
    overflow: scroll;
    white-space: nowrap;
    display: inline-block;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.carouselimg0 img, .carouselimg1 img, .carouselimg2 img, .carouselimg3 img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: darkmagenta;    
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.8s ease;
    z-index: 2;
}

.carouselimg0 img:hover, .carouselimg1 img:hover, .carouselimg2 img:hover, .carouselimg3 img:hover {
    transform: scale(1.2);
    z-index: 5;
}

/* ========================================= Modale ======================================*/
.modal-container {
    font-family: Arial;
    top: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    display: none;
    margin-bottom: .25rem;
    padding: 10px;
    width: 98%;
    height: 500px;
    transition: opacity 0.3s ease;
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
}

.modal-container__header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: 100px;
    background-color: gray; 
}

.modal-container__inner {
    margin-top: 20px;
    width: 96%;
    font-size: 3em;
    color: white;
    height: 80px;
    text-align: center;
    background-color: gray;
}

.Button {    
    height: 50px;
    width: 50px;    
    z-index: 1000;    
}

#Close {
    margin-top: 25px;
    width: 40px;
    height: 40px;    
    z-index: 1000;
}

.modal-container__movieDatas {
    display: flex;
    height: 70%;
    width: 100%;
    background-color: black;
}

.modal-container__imgContainer {
    margin-top: 20px;
    justify-content: left;
    float: left;
    width: 300px;
    height: 90%;
}

.modal-container__generique {
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 150px;
    padding-bottom: 20px;
    float: right;
    display: inline-block;
    height: 400px;
    width: 1000px;
    color: lightgray;
}

.modal-container__generique li {
    color: lightgray;
}


 